{% extends 'negocio/base.html' %}
{% block content %}

<div class="container">
    <div class="header">
        <h1>Editar ingresos</h1>
    </div>
      <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Edicion ingresos / gastos</h5>
            <p class="card-text">Por favor llena los campos con la informacion del movimiento</p>
            {% if error %}
              <h4>{{ error }}</h4>
            {% else %}
            {% endif %}
            <form action="" method="POST">
              {% csrf_token %}
              {% for campo in formulario %}
              <div class="mb-3 col-6">
                <label for="" class="form-label">{{ campo.label }}: (OBLIGATORIO)</label>
                {% if campo.field.widget.input_type == "select" %}
                <select type="{{ campo.field.widget.input_type  }}" name="{{ campo.name }}" id=""
                placeholder="{{ campo.label }}" class="form-control" default="SELECCIONAR">
                <option value="SELECCIONAR">SELECCIONAR</option>
                <option value="Ingreso">Ingreso</option>
                <option value="Gasto">Gasto</option>
              </select>
              {% else %}
                <input 
                type="{{ campo.field.widget.input_type  }}" 
                name="{{ campo.name }}" 
                id="" 
                placeholder="{{ campo.label }}"
                class="form-control" />
                {% endif %}
              </div>
              <div class="col-12 help-text">{{ campo.errors }}</div>
              {% endfor %}
      
              <input type="submit" value="Registrar" class="btn btn-success">
            </form>
        </div>
</div>


{% endblock content %}