{% extends 'negocio/base.html' %}
{% block content %}

<div class="container">
    <div class="header">
        <h1>Movimientos del negocio</h1>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Registro ingresos / gastos</h5>
        <table class="table" style="table-layout: fixed; width: 100%">
        {% if volver %}
        <h5 >Resultados de busqueda</h5>
        <a href="{% url 'ingresos'%}" class="btn btn-info" role="button"><i class="fas fa-angle-left"></i></i>volver</a>
        <table class="table">
          {% if esta %}
            <h5>NO SE PUDO ENCONTRAR UN RESULTADO PARA TU BUSQUEDA</h5>
          
            {% else %}
          {% endif %}
        
      {% else %}
      
          <form action=" {% url 'buscar_datoM' %} " method="POST">
            {% csrf_token %}
            <select  name = "filtro">
              <option value="TIPO">FILTRAR POR <i class="fas fa-bars"></i></option>
              <option  class="dropdown-item" value="movimiento">MOVIMIENTO</option>
              <option class="dropdown-item" value="nombre_tercero">NOMBRE</option>
              <option class="dropdown-item" value="valor">VALOR</option>
              <option class="dropdown-item" value="descripcion">DESCRIPCION</option>
              
         </select><i class="fas fa-bars"></i>
         
          <input type="text" placeholder="buscar" name="busqueda"><button class="btn" type="submit">
        
            <i class="fas fa-search"></i></button>
      </form>
      {% endif %}
    

              <thead>
                <tr>
                  <th style="word-wrap: break-word" >id</th>
                  <th style="word-wrap: break-word">Movimiento</th>
                  <th style="word-wrap: break-word">Nombre Tercero</th>
                  <th style="word-wrap: break-word">Valor</th>
                  <th style="word-wrap: break-word">Descripcion</th>
                </tr>
              </thead>
              <tbody>
                {% for dato in datos%}
                <tr>
                  <td>{{ dato.id }}</td>
                  <td>{{ dato.movimiento }}</td>
                  <td>{{ dato.nombre_tercero }}</td>
                  <td> ${{ dato.valor }}</td>
                  <td>{{ dato.descripcion }}</td>
                  <td> <a href="{% url 'editar' dato.id%}" class="btn btn-info" role="button">Editar</a> 
                    <a href="{% url 'eliminar' dato.id %}" class="btn btn-danger" role="button">Borrar</a> </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
    {% if volver %}
    {% else %}
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Registro ingresos / gastos</h5>
            {% if error %}
              <h4>{{ error }}</h4>
            {% else %}
            {% endif %}
            <form action="" method="POST">
              {% csrf_token %}
              {% for campo in formulario %}
              <div class="mb-3 col-6">
                <label for="" class="form-label">{{ campo.label }}: (OBLIGATORIO)</label>
                {% if campo.field.widget.input_type == "select" %}
                <select type="{{ campo.field.widget.input_type  }}" name="{{ campo.name }}" id=""
                placeholder="{{ campo.label }}" class="form-control" default="SELECCIONAR">
                <option value="SELECCIONAR">SELECCIONAR</option>
                <option value="Ingreso">Ingreso</option>
                <option value="Gasto">Gasto</option>
              </select>
              {% else %}
                <input 
                type="{{ campo.field.widget.input_type  }}" 
                name="{{ campo.name }}" 
                id="" 
                placeholder="{{ campo.label }}"
                class="form-control" />
                {% endif %}
              </div>
              <div class="col-12 help-text">{{ campo.errors }}</div>
              {% endfor %}

              <input type="submit" value="Registrar" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}