{% extends 'negocio/base.html' %}
{% block content %}

<div class="container">
    <div class="header">
        <h1>Movimientos del negocio</h1>
    </div>
    <div class="card mt-3">
      <div class="card-body">
          <h5 class="card-title">Registro ingresos / gastos</h5>
          <table class="table">
              <thead>
                <tr>
                <!--<th>Fecha</th>-->
                  <th>Movimiento</th>
                  <th>Nombre Tercero</th>
                  <th style="width: 200px;">Valor</th>
                  <th style="width: 200px;">Descripcion</th>
                </tr>
              </thead>
              <tbody>
                {% for dato in datos%}
                <tr>
                  <!--<td>{{ dato.id }}</td>-->
                  <td>{{ dato.movimiento }}</td>
                  <td>{{ dato.nombre_tercero }}</td>
                  <td> ${{ dato.valor }}</td>
                  <td>{{ dato.descripcion }}</td>
                  <td> <a href="{% url 'editar'%}" class="btn btn-info" role="button">Editar</a> | 
                    <a href="{% url 'eliminar' dato.id %}" class="btn btn-danger" role="button">Borrar</a> </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Registro ingresos / gastos</h5>
            {% if error %}
              <h4>{{ error }}</h4>
            {% else %}
            {% endif %}
            <form action="" method="POST">
              {% csrf_token %}
              {% for campo in formulario %}
              <div class="mb-3 col-6">
                <label for="" class="form-label">{{ campo.label }}: </label>
                {% if campo.field.widget.input_type == "select" %}
                <select type="{{ campo.field.widget.input_type  }}" name="{{ campo.name }}" id=""
                placeholder="{{ campo.label }}" class="form-control" default="SELECCIONAR">
                <option value="SELECCIONAR">SELECCIONAR</option>
                <option value="Ingreso">Ingreso</option>
                <option value="Gasto">Gasto</option>
              </select>
              {% else %}
                <input 
                type="{{ campo.field.widget.input_type  }}" 
                name="{{ campo.name }}" 
                id="" 
                placeholder="{{ campo.label }}"
                class="form-control" />
                {% endif %}
              </div>
              <div class="col-12 help-text">{{ campo.errors }}</div>
              {% endfor %}

              <input type="submit" value="Registrar" class="btn btn-success">
            </form>
        </div>
    </div>
</div>

{% endblock content %}