{% extends 'negocio/base.html' %}
{% block content %}
<div class="container">
    <div class="header">
        <h1>Terceros</h1>
    </div>
    <!--<label>
      <span class="title">Confusing thing here</span>
      
      <a class="info" data-toggle="popover" data-placement="right" data-content="This is the helpful information that will appear to help users along their way. They'll love it." title="" data-original-title="Help here">Info</a>
      
    </label>-->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button (que podemos agregar a la parte de filtros, No se como funciona)
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Informacion sobre esta pagina:</h5>
          <p class="card-text">En esta pagina podrás ver en una tabla, todos los terceros creados
            tambien, podras buscar por filto algun tercero en especial, se puede ver dos espacios en donde 
            si le das click, podras ver especificamente los datos que hay por separado en proveedor y cliente
          </p>
        </div>
      </div>
    <div class="card mt-3">
      <div class="card-body">
          
            {% if volver %}
            <h5 >Resultados de busqueda</h5>
            <a href="{% url 'terceros'%}" class="btn btn-info" role="button"><i class="fas fa-angle-left"></i></i>volver</a>
            <table class="table">
              {% if esta %}
                <h5>NO SE PUDO ENCONTRAR UN RESULTADO PARA TU BUSQUEDA</h5>
              
                {% else %}
              {% endif %}
            
          {% else %}
          <h5 class="card-title">Tabla de todos los terceros</h5>
          
          <table class="table">
              <form action=" {% url 'buscar_dato' %} " method="POST">
                {% csrf_token %}
                <select  name = "filtro">
                  <option value="TIPO">FILTRAR POR <i class="fas fa-bars"></i></option>
                  <option  class="dropdown-item" value="tipo_tercero">TIPO</option>
                  <option  class="dropdown-item" value="nombre_tercero">NOMBRE</option>
                  <option class="dropdown-item" value="cedula_tercero">CEDULA</option>
                  <option class="dropdown-item" value="correo_tercero">CORREO</option>
                  <option class="dropdown-item" value="celular_tercero">CELULAR</option>
                  
             </select><i class="fas fa-bars"></i>
             
              <input type="text" placeholder="buscar" name="busqueda"><button class="btn" type="submit">
            
                <i class="fas fa-search"></i></button>
          </form>
          {% endif %}
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Correo</th>
                <th>Celular</th>
              </tr>
            </thead>
            <tbody>

            {% for dato in datos %}
              <tr>
                <td>{{ dato.tipo_tercero }}</td>
                <td>{{ dato.nombre_tercero }}</td>
                <td>{{ dato.cedula_tercero }}</td>
                <td>{{ dato.correo_tercero }}</td>
                <td>{{ dato.celular_tercero }}</td>
                <td> <a href="{% url 'editar'%}" class="btn btn-info" role="button">Editar</a>
                  <a href="{% url 'eliminar_tercero' dato.id %}" class="btn btn-danger" role="button">Borrar</a> </td>
              </tr>
              {% endfor %}
          </tbody>
          </table>
      </div>
    </div>
    {% if volver %}
    {% else %}
    <!-- 
    <div class="card mt-3">
      <div class="card-body">
        <p>Si quieres ver mas Informacion acerca de tus clientes:</p>
        <button type="button" class="btn btn-primary">Clientes</button>
      </div>
    </div>
    -->
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Crear Terceros</h5>
            <p>Llenar los siguientes campos con los datos del cliente</p>
            <form action=" {% url 'terceros' %} " method="POST">
              {% csrf_token %}

              {% for campo in formulario %}
              <div class="mb-3 col-6">
                <label for="" class="form-label">{{ campo.label }}: (OBLIGATORIO) </label>
                {% if campo.field.widget.input_type  == "select" %}
                <select
                type="{{ campo.field.widget.input_type  }}"
                name="{{ campo.name }}" 
                id="" 
                placeholder="{{ campo.label }}"
                class="form-control" default="SELECCIONAR">
                
                <option value="SELECCIONAR">SELECCIONAR</option>
                <option value="proveedor">PROVEEDOR</option>
                <option value="cliente">CLIENTE</option>
                </select>
                {% else %} 
                <input
                type="{{ campo.field.widget.input_type  }}"
                name="{{ campo.name }}" 
                id="" 
                placeholder="{{ campo.label }}"
                class="form-control" />
                {% endif %}
              </div>
              <div class="col-12 help-text">{{ campo.errors }}</div>
              {% endfor %}

              <input type="submit" value="Registrar" class="btn btn-success">
            </form>
        </div>
    </div>
    {% if msg %}
    <p>{{ msg }}</p>
    {% else %}
    {% endif %}
    {% endif %}
</div>
{% endblock %}
