{% extends 'negocio/base.html' %}
{% block content %}

<div class="container">
    <div class="header">
        <h1>Pagina principal</h1>
    </div>
    <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Informacion principal</h5>
          <p class="card-text">Aqui va la informacion principal de la pagina </p>
        </div>
    </div>
    <div class="card mt-3">
      {% if chart %}
        <img src="data:image/png;base64, {{chart|safe}}">
      {% endif %}
    </div>
</div>

{% endblock content %}